<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <script src="{{ url_for('static', path='js/websocket.js') }}"></script>
    <script src="{{ url_for('static', path='js/index.js') }}"></script>
</head>
<body>
    <header>
        <div class="selectInterface">
            <select name="interface1" id="interface1">
                {% for interface in interfaces %}
                <option value="{{ interface }}">{{ interface }}</option>
                {% endfor %}
            </select>
           <select name="interface2" id="interface2">
                {% for interface in interfaces %}
                <option value="{{ interface }}">{{ interface }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="activation--buttons">
            <button class="activation--buttons--start" onclick="sendSignal('start')">Start</button>
            <button class="activation--buttons--stop" onclick="sendSignal('stop')">Stop</button>
            <button class="activation--buttons--refresh" onclick="sendSignal('refresh')">Refresh</button>
            <button class="activation--buttons--send" id = "changing" onclick="sendSignal('send')">Enable routing</button>
        </div>
    </header>
    <div class="syslogClientSetup">
        <h2>Syslog Client</h2>
        <div class="syslogClientSetup--content">
            <div class="syslogClientSetup--server">
                <label for="serverIp">Server IP</label>
                <input type="text" name="serverIp" id="serverIp">
            </div>
            <div class="syslogClientSetup--client">
                <label for="clientIp">Client IP</label>
                <input type="text" name="clientIp" id="clientIp">
            </div>
            <div class="syslogClientSetup--radio">
                <input type="radio" name="radio" id="radio1" value="radio1">
                <label for="radio1">Radio 1</label>
            </div>
            <div class="syslogClientSetup--radio">
                <input type="radio" name="radio" id="radio2" value="radio2">
                <label for="radio2">Radio 2</label>
            </div>
        </div>
        <div class="syslogClientSetup--start--wrapper">
            <button class="syslogClientSetup--start" onclick="sendFormData()">Start</button>
        </div>
    </div>
    <div class="packageAnalysis">
        <h2>Package Analysis</h2>
        <div class="packageAnalysis--content">
            <div class="packageAnalysis--content--left">
                <h3>Caption</h3>
                <table>
                    <tr>
                        <th>IN</th>
                        <th>OUT</th>
                    </tr>
                    {% for item in port1 %}
                        <tr>
                            <td><textarea class="inOutInput">{{ item.value1 }}</textarea></td>
                            <td><textarea class="inOutInput">{{ item.value2 }}</textarea></td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="packageAnalysis--content--left--controls">
                    <button class="packageAnalysis--content--left--buttons--reset" onclick="resetPortInfo('left')">Reset</button>
                </div>
            </div>
            <div class="packageAnalysis--content--center">
                <h3>MAC TABLE</h3>
                <table>
                    <colgroup>
                        <col style="width: 19%">
                        <col style="width: 60%">
                        <col style="width: 90%">
                    </colgroup>
                    <tr>
                        <th class="mac">MAC Address</th>
                        <th class="mac">Timer</th>
                        <th class="mac">Port</th>
                    </tr>
                    {% for item in macTable %}
                    <tr>
                        <td colspan="3"><textarea class="inOutTextarea" scrolling-input>{{ item.tables }}</textarea></td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="packageAnalysis--content--center--controls">
                    <button class="packageAnalysis--content--center--buttons--clear" onclick="clearMAC()">Clear</button>
                    <button class="packageAnalysis--content--center--buttons--push" onclick="pushNewTimer()">Push</button>
                    <input type="number" name="pushNumber" id="pushNumber" value="8">
                </div>
            </div>
            <div class="packageAnalysis--content--right">
                <h3>Caption</h3>
                <table>
                    <tr>
                        <th>IN</th>
                        <th>OUT</th>
                    </tr>
                    {% for item in port2 %}
                    <tr>
                        <td><textarea class="inOutInput">{{ item.value1 }}</textarea></td>
                        <td><textarea class="inOutInput">{{ item.value2 }}</textarea></td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="packageAnalysis--content--right--controls">
                    <button class="packageAnalysis--content--right--buttons--reset" onclick="resetPortInfo('right')">Reset</button>
                </div>
            </div>

        </div>
    </div>
    <div class="restconf">
        <h2>RESTCONF</h2>
        <div class="restconf--content">
            <label for="postResponse">Response</label>
            <textarea name="postResponse" id="postResponse" cols="30" rows = "20"></textarea>
        </div>
    </div>
</body>
</html>